body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
p{
    color: dimgray;
}
.name-highlight{
    color: tomato;
}
.abt{
    font-size: 30px;
    color:darkblue;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient( 45deg, orange , red);
    border: 5%;
    border-radius: 5%;
    margin: 3px;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
}
section{
    height: 500px;
}
.latest-project{
    background-color: whitesmoke;
}
.center{
    text-align: center;
    padding: 70px 70px;
    font-size: 30px;
}
.latest-highlight{
    color: tomato;
}
.box{
    width: 28%;
    height: 90%;
    box-shadow: 10px 10px 40px grey;
    float: left;
    background-color: white;
    border: 10% solid white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}